<!DOCTYPE html>
<html>
<head>
  <title>BenchBnB</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7N_AMtqf9M2Z29eyJ7bBSrYzzUEmYnmo">
  </script>
  <%= yield %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
